#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 800px;
  min-height: 600px;
}

.square {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  justify-content: space-around;
  flex: 12% 1 1;
}